ul, li {
  list-style: none;
}
header.well {
  margin-top: 20px;
}
.page-header h1 a:hover,
.page-header h1 a:active,
.page-header h1 a:visited,
.page-header h1 a:focus {
  text-decoration: none;
}
.content {
  max-width: 960px;
}
.action-links a {
  margin-right: 5px;
}
.create-book {
  float: right;
  margin-bottom: 5px;
  clear: both;
}
.bg-success,
.bg-info {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
}
.back {
  display: block;
  margin-top: 10px;
}

/* log */
.log {
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  display: none;
}